In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.shape

(303, 14)

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [11]:
y = df['target']
print("percentage with heart problem: "+str(y.where(y==0).count()*100/303))
print("percentage without heart problem: "+str(y.where(y==1).count()*100/303))

percentage with heart problem: 45.54455445544554
percentage without heart problem: 54.45544554455446

In [12]:
from sklearn.model_selection import train_test_split
x = df.drop('target',axis= 1)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [16]:
x_train.shape

(242, 13)

In [18]:
x_test.shape

(61, 13)

In [17]:
y_train.shape

(242,)

In [19]:
y_test.shape

(61,)

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
from sklearn.model_selection import cross_val_score

In [29]:
from sklearn.metrics import accuracy_score

In [32]:
max_accuracy = 0


for x in range(2000):
    rf = RandomForestClassifier(random_state=x)
    rf.fit(x_train,y_train)
    y_pred_rf = rf.predict(x_test)
    current_accuracy = round(accuracy_score(y_pred_rf,y_test)*100,2)
    if(current_accuracy>max_accuracy):
        max_accuracy = current_accuracy
        best_x = x

In [38]:
rf = RandomForestClassifier(random_state=best_x)
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)

In [39]:
from sklearn.metrics import accuracy_score
score = round(accuracy_score(y_pred,y_test)*100,2)

In [40]:
score

90.16

In [41]:
import joblib
joblib.dump(rf, 'heart_model.pkl')

['heart_model.pkl']

In [42]:
model = joblib.load("heart_model.pkl")
features = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs',
            'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']
sample_input = {
    'age': 58,
    'sex': 1,
    'cp': 2,
    'trestbps': 130,
    'chol': 260,
    'fbs': 0,
    'restecg': 1,
    'thalach': 120,
    'exang': 1,
    'oldpeak': 1.5,
    'slope': 2,
    'ca': 0,
    'thal': 2
}
input_array = np.array([sample_input[feature] for feature in features]).reshape(1, -1)

risk_prob = model.predict_proba(input_array)[0][1]  # Probability of heart disease
risk_percent = int(risk_prob * 100)

print(f"Heart Disease Risk: {risk_percent}%")

Heart Disease Risk: 61%

e:\code\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(